body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 229, 168) 0%,
    rgb(251, 174, 222) 100.7%
  );
  color: #5a5c68;
}

a {
  color: rgb(225, 121, 185);
}

.weather-border {
  border: 1px transparent;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
  max-width: 900px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
}

.container {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  margin-top: 10px;
  color: black;
}

h2 {
  color: black;
}

li {
  list-style: none;
  text-transform: capitalize;
}

strong {
  color: rgb(225, 121, 185);
}

ul {
  padding: 5px;
  margin-top: 20px;
}

.temperature {
  font-size: 105px;
  font-weight: 400px;
  line-height: 88px;
  color: black;
}

#icon {
  position: relative;
  top: -30px;
}

#description {
  position: relative;
  top: -25px;
}

.elements {
  position: relative;
  top: 11px;
  right: -50px;
  text-align: left;
}

.units {
  position: relative;
  top: -62px;
  font-size: 18px;
}

.weather-forecast {
  margin-top: 30px;
}

.weather-forecast-date {
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 80px;
  height: 80px;
}
.weather-forecast-temperatures {
  color: #f65282;
  margin-top: 10px;
  padding: 0 10px;
}

footer {
  text-align: center;
}
